<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game Winner in <%= gameName %></title>
        <link rel="stylesheet" href="css/fonts.css">
        <style>
            body{
                margin: 0;
                padding: 30px 0;
            }       
        </style>
        
    </head>
    <body style="background-color: #80808024;">
        <table style="width: 600px; margin: auto;">     
            <tr style="border-bottom: 1px solid #000;">
                <td style="width: 90%;">
                    <h4 style="margin: 0px;">Hi,</h4>
                </td>   
            </tr>                  
            <tr>
                <td colspan="2">
                    <h3>Congratulations !!!</h3>
                    <p style="font-size: 15px;"> 
                        You are winner in <%= gameName %>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 style="margin:0px; margin-top: 10px; ">Thanks & Regards</h4>
                    <p style="margin:0px; ">Betting</p>
                </td>
            </tr>       
        </table>
    </body>
</html>